$primary-color: #3a559e;
$secondary-color: #254c99;
$hero-text-color: #cbe9e9;
$primary-text-color: #EEE8B2;
$accent-color: #EEE8B2;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$product-hover-shadow: rgba(36, 51, 15, 0.5);
$shadow-dark: rgba(4, 45, 41, 0.3);
$shadow-light: rgba(36, 51, 15, 0.1);

$card-background: #ffffff;

$text-dark-color: #000000;

$header-backgound: #3F77BC;
$header-hover: green;
$header-text: #EEE8B2;

$general-button-color: #166fa3;
$general-button-hover: #2b405f;
$general-button-clear: #76d1b9;

$input-background: #9caaac;
$input-border: #000000;
$input-focus: #000000;

$custom-devider-gradient-1: #676769;
$custom-devider-gradient-2: #afafb3;
$custom-devider-gradient-3: #e2e2e2;

$about-us-background: #133e92;
$about-us-li-background: #2b486d;
$about-us-li-hover: #288afa;
$about-us-text: #EEE8B2;

$border-color: #203B37;

// Cart Count
$badge-background: #000000;
$highlight-background: #EEE8B2;

$footer-background: #3F77BC;
$footer-hover: green;
$footer-text: #EEE8B2;

$social-link-color: #ffffff;
$social-link-hover: #EEE8B2;

$divider-color: #929079;
$empty-cart-color: #042D29;